.container {
  position: relative;
}
.sun,
.moon {
  font-size: 10rem;
  width: 100%;
  height: 100%;
}
.moon {
  position: absolute;
  inset: 0;
}
.moon-logo {
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all 0.5s ease-out;
}
.sun-logo {
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all 0.5s ease-out;
}
.animate-sun {
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
}
.animate-moon {
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}
.animate-moon path {
  fill: #256be5;
}
.animate-sun path {
  fill: white;
}
