@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './darkModeToggle.scss';

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, 华文细黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.token-icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(86, 90, 105);
  margin: 0 1px;
}

.force-text-white {
  a {
    color: #fff !important;
  }
}

.nft-image {
  min-height: 400px;
  width: 400px;

  & img {
    height: 400px;
    width: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 400px;
    width: 100%;

    & img {
      height: auto;
      width: 100%;
    }
  }
}
